<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Durvah | Contact</title>
    <link rel="stylesheet" href="../public/css/contact.css" />
    <link
      rel="icon"
      href="https://cdn.prod.website-files.com/66b249c6e2cfdcc3c7dabfa1/66db2742aaed29334845612b_Durvah%20Logo.png"
    />
    <!-- Boxicons link CSS -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <a href="/" class="logo">
        <img
          src="https://cdn.prod.website-files.com/66b249c6e2cfdcc3c7dabfa1/66db2742aaed29334845612b_Durvah%20Logo.png"
          alt=""
          width="90"
          height="90"
        />
      </a>
      <input type="checkbox" id="check" />
      <label for="check" class="icons">
        <i class="bx bx-menu" id="menu-icon"></i>
        <i class="bx bx-x" id="close-icon"></i>
      </label>
      <nav class="navbar">
        <a href="/">Durvah</a>
        <a href="/service">Services</a>
        <a href="/product">Products</a>
        <a href="#">Leadership</a>
        <a href="/contact">Contact</a>
      </nav>
    </header>
    <section class="section1">
      <div class="section1-container">
        <div class="section1-1">
          <div class="section1-1-heading">
            <h1>Contact Durvah</h1>
          </div>
        </div>
        <div class="section1-2">
          <div class="section1-2-support">
            <div class="section1-2-call">
              <h1>Call Sales</h1>
            </div>
            <div class="section1-2-number">
              <a href="#">000 800 040 1716</a>
            </div>
          </div>

          <div class="section1-2-contact">
            <div class="section1-2-local">
              <h1>Contract</h1>
            </div>
            <div class="section1-2-number1">
              <a href="#">1800 419 8080</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section2">
      <div class="section2-heading">
        <h2>Contact Sales</h2>
      </div>
      <div class="section2-logo">
        <img
          src="https://cdn.prod.website-files.com/66b249c6e2cfdcc3c7dabfa1/66b6b80aaf9874246d3a1d8b_Logo%20Durvah.jpeg"
          alt=""
          width="135px"
          height="135px"
        />
      </div>
    </section>
    <!-- <section class="section3">
      <div class="section3-1">
        <div class="section3-1-heading">
          <h1>Contact Sales</h1>
        </div>
        <div class="section3-1-para">
          <div class="section3-1-1">
            <h1>Products and Solutions</h1>
          </div>
          <div class="section3-1-2">
            <a href="#">000 800 040 1716</a>
          </div>
          <div class="section3-1-3">
            <a href="#">Email us</a>
            <a href="#">Chat with us</a>
            <a href="#">Get a quote</a>
          </div>
        </div>
      </div>
      <div class="form">
        <h1>Products and Solutions Inquiries</h1>
        <p>
          Have a question about purchasing a product or solution that you are
          interested in? We’re here to help.
        </p>
        <form action="">
          <input type="text" placeholder="First Name" />
          <input type="text" placeholder="Last Name" />
          <input type="email" placeholder="Business Email" />
          <input type="text" placeholder="Country" />
          <input type="number" placeholder="91+" max="10" min="10" />
          <input type="text" placeholder="Company" />
          <textarea
            name=""
            id=""
            cols="30"
            rows="10"
            placeholder="What products , services or solutions would you like to discuss with our sales expert?"
          ></textarea>
          <p>
            May HPE provide you with personalized communications about HPE and
            select HPE-partner products, services, offers and events?
          </p>
          <label class="custom-checkbox-label">
            <input type="checkbox" class="custom-checkbox" />
            Email
          </label>
          <label class="custom-checkbox-label">
            <input type="checkbox" class="custom-checkbox" />
            Phone
          </label>
          <br />
          <button>Continue</button>
          <p style="font-size: 12px">
            For more information on how HPE manages, uses, and protects your
            information please refer to HPE Privacy Statement. You can always
            withdraw or modify your consent to receive marketing and sales
            communication from HPE. This can be done by using the opt-out and
            preference mechanism at the bottom of our email marketing
            communication or by following this link to unsubscribe. If you have
            provided your mobile number to receive marketing communications,
            please note that roaming charges may apply.
          </p>
        </form>
      </div>
    </section> -->
    <section class="section3">
      <div class="form-container">
        <div class="contact-info">
          <h1>Contact Sales</h1>
          <div class="section3-1-para">
            <div class="section3-1-1">
              <h2>Products and Solutions</h2>
            </div>
            <div class="section3-1-2">
              <a href="#">000 800 040 1716</a>
            </div>
            <div class="section3-1-3">
              <a href="#">Email us</a>
              <a href="#">Chat with us</a>
              <a href="#">Get a quote</a>
            </div>
          </div>
        </div>

        <!-- Form fields on the right -->
        <form action="" class="form">
          <h2>Products and Solutions Inquiries</h2>
          <p>
            Have a question about purchasing a product or solution that you are
            interested in? We’re here to help.
          </p>
          <input type="text" placeholder="First Name" />
          <input type="text" placeholder="Last Name" />
          <input type="email" placeholder="Business Email" />
          <input type="text" placeholder="Country" />
          <input type="number" placeholder="91+" max="10" min="10" />
          <input type="text" placeholder="Company" />
          <textarea
            cols="30"
            rows="10"
            placeholder="What products, services or solutions would you like to discuss with our sales expert?"
          ></textarea>
          <p>
            May HPE provide you with personalized communications about HPE and
            select HPE-partner products, services, offers and events?
          </p>
          <label class="custom-checkbox-label">
            <input type="checkbox" class="custom-checkbox" />
            Email
          </label>
          <label class="custom-checkbox-label">
            <input type="checkbox" class="custom-checkbox" />
            Phone
          </label>
          <br />
          <button>Continue</button>
          <p style="font-size: 12px" class="text">
            For more information on how HPE manages, uses, and protects your
            information please refer to HPE Privacy Statement. You can always
            withdraw or modify your consent to receive marketing and sales
            communication from HPE.
          </p>
        </form>
      </div>
    </section>
    <section class="section4">
      <div class="section4-container">
        <div class="section4-1">
          <h2>DURVAH IT SOLUTIONS OFFICES AND EXECUTIVE BRIEFING CENTERS</h2>
        </div>
        <div class="section4-2">
          <p>
            Steer Ahead - Transform your business with ease. Talk to us today
          </p>
        </div>
        <div class="section4-3">
          <a href="#">View our worldwide office locations</a>
        </div>
      </div>
      <div class="section4-4">
        <p>
          4th Cross Rd, 2nd Block, Jaya Nagar East, Jayanagar, Bengaluru,
          Karnataka 560004
        </p>
      </div>
    </section>
    <section class="section5">
      <div class="section5-container">
        <div class="section5-1">
          <h2>General website feedback</h2>
        </div>
        <div class="section5-2">
          <p>
            We welcome all suggestions to help us improve your HPE.com
            experience. Given the volume of submissions, we are not able to
            respond directly but do utilize this data to enhance our website.
          </p>
        </div>
        <div class="section5-3">
          <p>
            If you are looking for sales or support, please use the sales or
            support contact options above.
          </p>
        </div>
        <div class="section5-4">
          <p>
            If you want to manage HPE communications, you may update
            subscription preferences here.
          </p>
        </div>
        <div class="section5-5">
          <p>
            If you need contacts in media relations, you can find our global
            communications team here.
          </p>
        </div>
      </div>
      <div class="section5-btn">
        <button>Submit your feedback</button>
      </div>
    </section>
    <footer>
      <div class="footer-container">
        <div class="footer-top">
          <div class="footer-logo">
            <img
              src="https://cdn.prod.website-files.com/66b249c6e2cfdcc3c7dabfa1/66db2742aaed29334845612b_Durvah%20Logo.png"
              alt=""
              width="44"
            />
          </div>
          <div class="footer-container1">
            <div class="footer-title">
              <a
                href="#"
                style="
                  color: #389ea3;
                  font-size: 18px;
                  font-weight: 500;
                  line-height: 32px;
                "
                >Durvah</a
              >
              <a href="#">Services</a>
              <a href="#">Products</a>
              <a href="#">Leadership</a>
            </div>
          </div>
          <div class="footer-container2">
            <div class="footer-title">
              <a
                href="#"
                style="
                  color: #389ea3;
                  font-size: 18px;
                  font-weight: 500;
                  line-height: 32px;
                "
                >Partners</a
              >
              <a href="#">Sap</a>
              <a href="#">Ivalua</a>
            </div>
          </div>
          <div class="footer-search">
            <div class="footer-title">
              <a
                href="#"
                style="
                  color: #389ea3;
                  font-size: 18px;
                  font-weight: 500;
                  line-height: 32px;
                "
                >Contact</a
              >
              <div class="footer-form-block">
                <input
                  type="email"
                  placeholder="Email"
                  class="footer-form-field"
                  maxlength="256"
                />
                <input
                  type="submit"
                  data-wait="Please wait..."
                  class="footer-form-submit w-button"
                  value=""
                />
              </div>
            </div>
          </div>
        </div>
        <div class="footer-divider"></div>
        <div class="footer-bottom">
          <div class="footer-copyright">
            © 2024 Durvah IT Consultancy Pvt. Ltd. All rights reserved
          </div>
          <div class="footer-social">
            <div class="footer-social-block">
              <a
                href="https://www.linkedin.com/company/durvahitconsulting/"
                class="footer-social-link w-inline-block"
                ><img
                  src="https://cdn.prod.website-files.com/62434fa732124a0fb112aab4/62434fa732124ac76f12aaec_product%20icon-2.svg"
                  loading="lazy"
                  alt="" /></a
              ><a
                href="https://www.facebook.com/profile.php?id=100089638680209"
                class="footer-social-link w-inline-block"
                ><img
                  src="https://cdn.prod.website-files.com/62434fa732124a0fb112aab4/62434fa732124a4a9512aae0_product%20icon-1.svg"
                  loading="lazy"
                  alt="" /></a
              ><a
                href="https://x.com/i/flow/login?redirect_after_login=%2FITDurvah"
                class="footer-social-link w-inline-block"
                ><img
                  src="https://cdn.prod.website-files.com/62434fa732124a0fb112aab4/62434fa732124a853712aad7_product%20icon.svg"
                  loading="lazy"
                  alt=""
              /></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
