<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Durvah</title>
    <link rel="stylesheet" href="../public/css/style2.css" />
    <link
      rel="icon"
      href="https://cdn.prod.website-files.com/66b249c6e2cfdcc3c7dabfa1/66db2742aaed29334845612b_Durvah%20Logo.png"
    />
    <!-- Boxicons link CSS -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!--Swiper js css-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <link rel="stylesheet" href="../public/css/style1.css" />
  </head>
  <body>
    <div class="loader"></div>

    <nav>
      <div class="navbar">
        <i class="bx bx-menu"></i>
        <div class="logo">
          <a href="/"
            ><img
              src="https://cdn.prod.website-files.com/66b249c6e2cfdcc3c7dabfa1/66db2742aaed29334845612b_Durvah%20Logo.png"
              alt=""
              width="70"
              height="70"
          /></a>
        </div>
        <div class="nav-links">
          <div class="sidebar-logo">
            <span class="logo-name"
              ><img
                src="https://cdn.prod.website-files.com/66b249c6e2cfdcc3c7dabfa1/66db2742aaed29334845612b_Durvah%20Logo.png"
                alt=""
                width="90"
                height="90"
            /></span>
            <i class="bx bx-x"></i>
          </div>
          <ul class="links">
            <li><a href="/">Durvah</a></li>
            <li>
              <a href="/service">Service</a>
              <i class="bx bxs-chevron-down htmlcss-arrow arrow"></i>
              <ul class="htmlCss-sub-menu sub-menu">
                <li><a href="/service1">Service1</a></li>
              </ul>
            </li>
            <li>
              <a href="/product">Product</a>
            </li>
            <li><a href="#">Leadership</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
        <div class="search-box">
          <i class="bx bx-search"></i>
          <div class="input-box">
            <input type="text" placeholder="Search..." />
          </div>
        </div>
      </div>
    </nav>
    <section class="section1">
      <div class="hero">
        <!-- <img
          src="https://cdn.prod.website-files.com/66b249c6e2cfdcc3c7dabfa1/66b24e11ea8e48ec052c5aab_Home%20Banner%20Pic.jpg"
          alt=""
          class="back-video"
        /> -->

        <div class="content overlay">
          <h1>Durvah</h1>
          <p>
            Our Process-Driven Quality and On-time Delivery enable businesses to
            optimize today's opportunities while equipping them for tomorrow's
            possibilities.
          </p>
          <div class="section1-btn">
            <button class="button">Explore</button>
          </div>
        </div>
      </div>
    </section>
    <section class="section3">
      <div class="section3-container">
        <div class="section3-heading">
          <h1>Run with focus. Leap with flexibility.</h1>
        </div>
        <div class="section3-para">
          <p>
            In an ecosystem where customer expectations that are changing at the
            speed of technology, it is imperative that we shun the hardcoded
            mindset and adopt a flexible approach to solving client
            requirements.
          </p>
        </div>
      </div>
    </section>

    <section class="section2">
      <div class="section2-container">
        <div class="section2-card__container">
          <article class="card__article">
            <!-- <img src="assets/animation1.jpeg" alt="image" class="card__img" /> -->
            <video autoplay loop muted plays-inline>
              <source src="assets/video1.mp4" type="video/mp4" />
            </video>

            <div class="card__data">
              <span class="card__description">Vancouver Mountains, Canada</span>
              <h2 class="card__title">The Great Path</h2>
              <a href="#" class="card__button">Read More</a>
            </div>
          </article>

          <article class="card__article">
            <!-- <img src="assets/animation2.jpg" alt="image" class="card__img" /> -->
            <video autoplay loop muted plays-inline>
              <source src="assets/video2.mp4" type="video/mp4" />
            </video>

            <div class="card__data">
              <span class="card__description">Poon Hill, Nepal</span>
              <h2 class="card__title">Starry Night</h2>
              <a href="#" class="card__button">Read More</a>
            </div>
          </article>

          <article class="card__article">
            <!-- <img src="assets/animation3.jpg" alt="image" class="card__img" /> -->
            <video autoplay loop muted plays-inline>
              <source src="assets/video3.mp4" type="video/mp4" />
            </video>

            <div class="card__data">
              <span class="card__description">Bojcin Forest, Serbia</span>
              <h2 class="card__title">Path Of Peace</h2>
              <a href="#" class="card__button">Read More</a>
            </div>
          </article>
          <article class="card__article">
            <!-- <img src="assets/animation3.jpg" alt="image" class="card__img" /> -->
            <video autoplay loop muted plays-inline>
              <source src="assets/video4.mp4" type="video/mp4" />
            </video>

            <div class="card__data">
              <span class="card__description">Bojcin Forest, Serbia</span>
              <h2 class="card__title">Path Of Peace</h2>
              <a href="#" class="card__button">Read More</a>
            </div>
          </article>
        </div>
      </div>
    </section>

    <section id="H4-cards" class="h4servicecards">
      <div class="divblockservicescards">
        <div class="w-layout-grid grid-3">
          <div class="div-4-1">
            <div class="w-layout-grid grid-4">
              <div
                id="w-node-_37fd22f0-e945-0eda-4364-c1884103031e-63511d7c"
                data-w-id="37fd22f0-e945-0eda-4364-c1884103031e"
                style="
                  /* opacity: 1; */ /* transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); */ /* transform-style: preserve-3d; */
                "
                class="div-sap"
              >
                <div class="div-block-38">
                  <h1
                    id="w-node-_37fd22f0-e945-0eda-4364-c18841030320-63511d7c"
                    class="heading-11"
                  >
                    Discover how a sustainable, interconnected network of
                    business departments works in cohesion.
                  </h1>
                  <a
                    href="/sappage"
                    class="button-1 w-button"
                    style="
                      letter-spacing: 2px;
                      background-color: #3898ec00;
                      border: 4px solid #fff;
                      border-radius: 30px;
                      margin-bottom: 40px;

                      padding-left: 100px;
                      padding-right: 100px;
                      font-family: Open Sans, sans-serif;
                      font-weight: 700;
                    "
                    >EXPLORE</a
                  >
                </div>
              </div>
              <div
                id="w-node-_37fd22f0-e945-0eda-4364-c18841030324-63511d7c"
                data-w-id="37fd22f0-e945-0eda-4364-c18841030324"
                style="
                  /* opacity: 1; */ /* transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); */ /* transform-style: preserve-3d; */
                "
                class="div-ivalua"
              >
                <div>
                  <h1
                    id="w-node-_37fd22f0-e945-0eda-4364-c18841030326-63511d7c"
                    class="heading-13"
                  >
                    100% paperless source-to-pay process.
                  </h1>
                </div>

                <a
                  href="/ivalua"
                  class="button-3 w-button"
                  style="
                    letter-spacing: 2px;
                    background-color: #3898ec00;
                    border: 4px solid #fff;
                    border-radius: 30px;
                    margin-bottom: 40px;

                    padding-left: 100px;
                    padding-right: 100px;
                    font-family: Open Sans, sans-serif;
                    font-weight: 700;
                  "
                  >EXPLORE</a
                >
              </div>
            </div>
          </div>
          <div
            id="w-node-_37fd22f0-e945-0eda-4364-c1884103032a-63511d7c"
            class="div-services-list"
          >
            <div>
              <h1
                id="w-node-_37fd22f0-e945-0eda-4364-c1884103032c-63511d7c"
                class="heading-15"
              >
                SAP<br />Ivalua<br />Salesforce<br />Technologies<br />Mobility<br />QAD<br />AMS<br />‍<br />‍
              </h1>
              <a
                href="/services"
                class="button-6 w-button"
                style="margin-bottom: 40px"
                >DISCOVER</a
              >
            </div>
          </div>
          <div class="div-salesforce-qad">
            <div class="w-layout-grid grid-5">
              <div
                id="w-node-_37fd22f0-e945-0eda-4364-c18841030342-63511d7c"
                data-w-id="37fd22f0-e945-0eda-4364-c18841030342"
                style="
                  opacity: 1;
                  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                    rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                  transform-style: preserve-3d;
                "
                class="div-salesforce"
              >
                <div class="div-block-39">
                  <h1
                    id="w-node-_37fd22f0-e945-0eda-4364-c18841030344-63511d7c"
                    class="heading-12"
                  >
                    Recalibrate customer engagement<br />‍
                  </h1>
                  <a
                    id="w-node-_37fd22f0-e945-0eda-4364-c18841030348-63511d7c"
                    href="/salesforcepage"
                    class="button-4 w-button"
                    >EXPLORE</a
                  >
                </div>
              </div>
              <div
                id="w-node-_37fd22f0-e945-0eda-4364-c1884103034a-63511d7c"
                data-w-id="37fd22f0-e945-0eda-4364-c1884103034a"
                style="
                  opacity: 1;
                  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                    rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                  transform-style: preserve-3d;
                "
                class="div-qad"
              >
                <div>
                  <h1
                    id="w-node-_37fd22f0-e945-0eda-4364-c1884103034c-63511d7c"
                    class="heading-14"
                  >
                    Immaculate end-to-end ERP solutions with customization
                    capabilities
                  </h1>
                  <a href="/qad" class="button-5 w-button">EXPLORE</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--Video Gallery-->

    <section class="services">
      <div class="services-container">
        <h1 class="services-heading">our services</h1>

        <div class="services-box-container">
          <div class="services-box box1">
            <h3>Connect your edge</h3>
            <p>Control and harness data across edge to cloud.</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <a href="#" class="services-btn" style="--clr: #1e9bff"
              ><span>Explore More</span></a
            >
          </div>

          <div class="services-box box2">
            <h3>Turn your data into intelligence</h3>
            <p>
              A single source of truth from data to make smart decisions and
              recommendations to customers.
            </p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <a href="#" class="services-btn" style="--clr: #6eff3e"
              ><span>Explore More</span></a
            >
          </div>

          <div class="services-box box3">
            <h3>Unlock AI</h3>
            <p>
              Simplify AI complexity, accelerate productivity, and get pilots to
              production faster.
            </p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <a href="#" class="services-btn" style="--clr: #ff1867"
              ><span>Explore More</span></a
            >
          </div>

          <div class="services-box box4">
            <h3>Create your hybrid cloud</h3>
            <p>Hybrid cloud, just the way you need it.</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <a href="#" class="services-btn" style="--clr: #ff1867"
              ><span>Explore More</span></a
            >
          </div>

          <div class="services-box box5">
            <h3>Secure your data</h3>
            <p>Only the right level of security will do.</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <a href="#" class="services-btn" style="--clr: #6eff3e"
              ><span>Explore More</span></a
            >
          </div>
        </div>
      </div>
    </section>

    <section class="section5">
      <div class="section5-1">
        <div class="section5-1-heading">
          <h4>VISION</h4>
        </div>
        <div class="section5-1-description">
          <p>
            To be the go-to IT services partner at all touchpoints on the
            technology landscape. Durvah is committed to delivering innovative
            tech-solutions that are an amalgam of cutting-edge technology and
            future-ready processes.
          </p>
        </div>
      </div>
      <div class="section5-2">
        <div class="section5-2-heading">
          <h4>MISSION</h4>
        </div>
        <div class="section5-2-description">
          <p>
            To develop solutions powered by cutting-edge technologies and robust
            processes, by providing our people with ever-expanding canvas of
            possibilities and an inclusive work environment that enable them to
            develop exceptional products and services to our clients.
          </p>
        </div>
      </div>
      <div class="section5-3">
        <div class="section5-3-heading">
          <h4>VALUES</h4>
        </div>
        <div class="section5-3-description">
          <p>
            Ethical Business Practices. Shared Accountability. Trust Protection.
            People First. Forward Fast. The five tenets that shape the Durvah
            philosophy. At Durvah, strengthening business relationships is
            integral to the process of building businesses. The desire to
            innovate, the incisiveness of insights and the spirit of creativity
            are all ingrained in the Durvah culture.
          </p>
        </div>
      </div>
    </section>

    <section class="section6">
      <div class="section6-container-1">
        <img
          src="https://cdn.prod.website-files.com/66b249c6e2cfdcc3c7dabfa1/66c620c38e9837d90de22dba_coca%20cola.png"
          loading="lazy"
          width="99"
          sizes="(max-width: 479px) 40vw, 99px"
          alt="AriseHealth logo"
          class="client1"
        />
      </div>
      <div class="section6-container-2">
        <img
          src="https://cdn.prod.website-files.com/66b249c6e2cfdcc3c7dabfa1/66c620c303641ba4fdcf46f9_47_Brand_Logo_1.png"
          loading="lazy"
          width="91"
          sizes="(max-width: 479px) 39vw, 91px"
          alt="OE logo"
          class="client2"
        />
      </div>
      <div class="section6-container-3">
        <img
          src="https://cdn.prod.website-files.com/66b249c6e2cfdcc3c7dabfa1/66c6224b9d143cfda2afeefb_Honda.png"
          loading="lazy"
          width="133"
          sizes="(max-width: 479px) 42vw, 133px"
          alt="2020INC logo"
          class="client3"
        />
      </div>
      <div class="section6-container-4">
        <img
          src="https://cdn.prod.website-files.com/66b249c6e2cfdcc3c7dabfa1/66c62233d5dc5e2cc8ddb11a_Lacoste.jpeg"
          loading="lazy"
          width="74"
          alt="The Paak logo"
          class="client4"
        />
      </div>
      <div class="section6-container-5">
        <img
          src="https://cdn.prod.website-files.com/66b249c6e2cfdcc3c7dabfa1/66c622d08e04d16223181fdc_Mitsubishi.png"
          loading="lazy"
          width="71"
          sizes="(max-width: 479px) 30vw, 71px"
          alt="Ephicient logo"
          class="client5"
        />
      </div>
      <div class="section6-container-6">
        <img
          src="https://cdn.prod.website-files.com/66b249c6e2cfdcc3c7dabfa1/66c622cff4d330db4ab0dd85_Huawei.jpeg"
          loading="lazy"
          width="66"
          alt="Toogether logo"
          class="client6"
        />
      </div>
    </section>

    <section class="product">
      <div class="product-container">
        <h1 class="product-heading">Product and services</h1>
        <p class="product-para">
          Power your edge-to-cloud platform with proven, transformative, and
          innovative IT products, solutions, and services. Lease and financing
          available through HPE Financial Services.
        </p>

        <div class="product-box-container">
          <div class="product-box">
            <img src="assets/animation1.jpeg" alt="" />
            <h3>Durvah GreenLake Cloud</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus,
              commodi?
            </p>
            <a href="#" class="btn">read more</a>
          </div>

          <div class="product-box">
            <img src="assets/animation2.jpg" alt="" />
            <h3>Durvah GreenLake Cloud</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus,
              commodi?
            </p>
            <a href="#" class="btn">read more</a>
          </div>

          <div class="product-box">
            <img src="assets/animation3.jpg" alt="" />
            <h3>Durvah GreenLake Cloud</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus,
              commodi?
            </p>
            <a href="#" class="btn">read more</a>
          </div>

          <div class="product-box">
            <img src="assets/photo1.jpg" alt="" />
            <h3>Durvah GreenLake Cloud</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus,
              commodi?
            </p>
            <a href="#" class="btn">read more</a>
          </div>

          <div class="product-box">
            <img src="assets/animation2.jpg" alt="" />
            <h3>Durvah GreenLake Cloud</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus,
              commodi?
            </p>
            <a href="#" class="btn">read more</a>
          </div>

          <div class="product-box">
            <img src="assets/photo3.jpg" alt="" />
            <h3>Durvah GreenLake Cloud</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus,
              commodi?
            </p>
            <a href="#" class="btn">read more</a>
          </div>
        </div>
      </div>
    </section>

    <section class="section7">
      <div class="slide-container swiper">
        <div class="slide-content">
          <div class="card-wrapper swiper-wrapper">
            <div class="card swiper-slide">
              <div class="image-content">
                <!-- <span class="overlay"></span> -->
                <div class="card-image">
                  <img src="assets/card1.jpg" alt="" class="card-img" />
                </div>
              </div>

              <div class="card-content">
                <h2 class="name">David Dell</h2>
                <p class="description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Fugiat, modi impedit?
                </p>
                <button class="button">View More</button>
              </div>
            </div>
            <div class="card swiper-slide">
              <div class="image-content">
                <!-- <span class="overlay"></span> -->
                <div class="card-image">
                  <img src="assets/card2.jpg" class="card-img" />
                </div>
              </div>

              <div class="card-content">
                <h2 class="name">David Dell</h2>
                <p class="description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Fugiat, modi impedit?
                </p>
                <button class="button">View More</button>
              </div>
            </div>
            <div class="card swiper-slide">
              <div class="image-content">
                <!-- <span class="overlay"></span> -->
                <div class="card-image">
                  <img src="assets/card3.jpg" alt="" class="card-img" />
                </div>
              </div>

              <div class="card-content">
                <h2 class="name">David Dell</h2>
                <p class="description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Fugiat, modi impedit?
                </p>
                <button class="button">View More</button>
              </div>
            </div>
            <div class="card swiper-slide">
              <div class="image-content">
                <!-- <span class="overlay"></span> -->
                <div class="card-image">
                  <img src="assets/card4.jpg" alt="" class="card-img" />
                </div>
              </div>

              <div class="card-content">
                <h2 class="name">David Dell</h2>
                <p class="description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Fugiat, modi impedit?
                </p>
                <button class="button">View More</button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-button-next swiper-navBtn"></div>
        <div class="swiper-button-prev swiper-navBtn"></div>
        <div class="swiper-pagination"></div>
      </div>
    </section>
    <footer>
      <div class="footer-container">
        <div class="footer-top">
          <div class="footer-logo">
            <img
              src="https://cdn.prod.website-files.com/66b249c6e2cfdcc3c7dabfa1/66db2742aaed29334845612b_Durvah%20Logo.png"
              alt=""
              width="44"
            />
          </div>
          <div class="footer-container1">
            <div class="footer-title">
              <a
                href="#"
                style="
                  color: #389ea3;
                  font-size: 18px;
                  font-weight: 500;
                  line-height: 32px;
                "
                >Durvah</a
              >
              <a href="#">Services</a>
              <a href="#">Products</a>
              <a href="#">Leadership</a>
            </div>
          </div>
          <div class="footer-container2">
            <div class="footer-title">
              <a
                href="#"
                style="
                  color: #389ea3;
                  font-size: 18px;
                  font-weight: 500;
                  line-height: 32px;
                "
                >Partners</a
              >
              <a href="#">Sap</a>
              <a href="#">Ivalua</a>
            </div>
          </div>
          <div class="footer-search">
            <div class="footer-title">
              <a
                href="#"
                style="
                  color: #389ea3;
                  font-size: 18px;
                  font-weight: 500;
                  line-height: 32px;
                "
                >Contact</a
              >
              <div class="footer-form-block">
                <input
                  type="email"
                  placeholder="Email"
                  class="footer-form-field"
                  maxlength="256"
                />
                <input
                  type="submit"
                  data-wait="Please wait..."
                  class="footer-form-submit w-button"
                  value=""
                />
              </div>
            </div>
          </div>
        </div>
        <div class="footer-divider"></div>
        <div class="footer-bottom">
          <div class="footer-copyright">
            © 2024 Durvah IT Consultancy Pvt. Ltd. All rights reserved
          </div>
          <div class="footer-social">
            <div class="footer-social-block">
              <a
                href="https://www.linkedin.com/company/durvahitconsulting/"
                class="footer-social-link w-inline-block"
                ><img
                  src="https://cdn.prod.website-files.com/62434fa732124a0fb112aab4/62434fa732124ac76f12aaec_product%20icon-2.svg"
                  loading="lazy"
                  alt="" /></a
              ><a
                href="https://www.facebook.com/profile.php?id=100089638680209"
                class="footer-social-link w-inline-block"
                ><img
                  src="https://cdn.prod.website-files.com/62434fa732124a0fb112aab4/62434fa732124a4a9512aae0_product%20icon-1.svg"
                  loading="lazy"
                  alt="" /></a
              ><a
                href="https://x.com/i/flow/login?redirect_after_login=%2FITDurvah"
                class="footer-social-link w-inline-block"
                ><img
                  src="https://cdn.prod.website-files.com/62434fa732124a0fb112aab4/62434fa732124a853712aad7_product%20icon.svg"
                  loading="lazy"
                  alt=""
              /></a>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
      var swiper = new Swiper(".slide-content", {
        slidesPerView: 1,
        spaceBetween: 25,

        loop: true,
        centerSlide: "true",
        fade: "true",
        gragCursor: "true",
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
          dynamicBullets: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        breakpoints: {
          0: {
            slidesPerView: 1,
          },
          520: {
            slidesPerView: 1,
          },
        },
      });
    </script>
    <script src="../public/js/script.js"></script>
    <script>
      window.addEventListener("load", () => {
        const loader = document.querySelector(".loader");

        loader.classList.add("loader--hidden");

        loader.addEventListener("transitionend", () => {
          document.body.removeChild(loader);
        });
      });
    </script>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
