<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Durvah | Service</title>
    <link
      rel="icon"
      href="https://cdn.prod.website-files.com/66b249c6e2cfdcc3c7dabfa1/66db2742aaed29334845612b_Durvah%20Logo.png"
    />
    <!-- Boxicons link CSS -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../public/css/service1.css" />
  </head>
  <body>
    <div class="loader"></div>
    <header class="header">
      <a href="/" class="logo">
        <img
          src="https://cdn.prod.website-files.com/66b249c6e2cfdcc3c7dabfa1/66db2742aaed29334845612b_Durvah%20Logo.png"
          alt=""
          width="90"
          height="90"
        />
      </a>
      <input type="checkbox" id="check" />
      <label for="check" class="icons">
        <i class="bx bx-menu" id="menu-icon"></i>
        <i class="bx bx-x" id="close-icon"></i>
      </label>
      <nav class="navbar">
        <a href="/">Durvah</a>
        <a href="/service">Services</a>
        <a href="/product">Products</a>
        <a href="#">Leadership</a>
        <a href="/contact">Contact</a>
      </nav>
    </header>
    <section class="section1">
      <div class="slideshow-container">
        <div class="slideshow-heading">
          <h1>Our Customers</h1>
        </div>
        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade">
          <div class="numbertext">1 / 4</div>
          <img
            src="https://cdn.prod.website-files.com/66b249c6e2cfdcc3c7dabfa1/66bf5bfe5b0de4adad9f7749_lance-anderson-ZHVy20iPb7E-unsplash.jpg"
            style="width: 100%; height: 500px"
          />
          <div class="text">SAP // Durvah</div>
        </div>

        <div class="mySlides fade">
          <div class="numbertext">2 / 4</div>
          <img
            src="https://cdn.prod.website-files.com/66b249c6e2cfdcc3c7dabfa1/66bf5bfe5b0de4adad9f7749_lance-anderson-ZHVy20iPb7E-unsplash.jpg"
            style="width: 100%; height: 500px"
          />
          <div class="text" style="font-size: 28px">
            Core SAP implementation and consultancy services that seamlessly
            impart end-to-end business value to existing processes.
          </div>
        </div>

        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <br />

      <!-- The dots/circles -->
      <div style="text-align: center; position: relative; bottom: 76px">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
      </div>
    </section>
    <section class="section2">
      <div class="section2-1">
        <div class="section2-1-img">
          <img
            src="https://cdn.prod.website-files.com/66b249c6e2cfdcc3c7dabfa1/66be2f2f34f20dbc73b336ea_Image%202-p-800.jpg"
            alt=""
            width="523px"
            sizes="(max-width:767px) 100vw , 523px"
          />
        </div>
        <div class="section2-1-text">
          <div class="section2-1-text-heading">
            <h1>SAP</h1>
          </div>
          <div class="section2-1-text-heading1">
            <h1>
              Conceive path-breaking enterprise transformations with Durvah SAP
              consulting
            </h1>
          </div>
          <div class="section2-1-text-para">
            <p>
              Be the new generation ERP evangelist with the core SAP
              implementation, consultancy services that impart an end-to-end
              business value to your existing process. Create a highly
              sustainable and an interconnected system of various business
              departments that cohesively work to demonstrate effective multi
              stakeholder-ship leading to ultimate business goals. Achieve an
              all-time high
            </p>
          </div>
          <div class="section2-1-text-btn">
            <a href="#" class="w-button">Explore</a>
          </div>
        </div>
      </div>
    </section>

    <section class="section3">
      <div class="slideshow-container1">
        <!-- Full-width images with number and caption text -->
        <div class="mySlides1 fade1">
          <img
            src="https://cdn.prod.website-files.com/66b249c6e2cfdcc3c7dabfa1/66bf5bfe5b0de4adad9f7749_lance-anderson-ZHVy20iPb7E-unsplash.jpg"
            style="width: 100%; height: 500px"
          />
          <div class="text1">Ivalua // Durvah</div>
        </div>

        <div class="mySlides1 fade1">
          <img
            src="https://cdn.prod.website-files.com/66b249c6e2cfdcc3c7dabfa1/66bf5bfe5b0de4adad9f7749_lance-anderson-ZHVy20iPb7E-unsplash.jpg"
            style="width: 100%; height: 500px"
          />
          <div class="text1" style="font-size: 28px">
            Core SAP implementation and consultancy services that seamlessly
            impart end-to-end business value to existing processes.
          </div>
        </div>

        <!-- Next and previous buttons -->
        <a class="prev1" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next1" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <br />

      <!-- The dots/circles -->
      <div style="text-align: center; position: relative; bottom: 76px">
        <span class="dot1" onclick="currentSlide(1)"></span>
        <span class="dot1" onclick="currentSlide(2)"></span>
      </div>
    </section>
    <section class="section4">
      <div class="section4-1">
        <div class="section4-1-img">
          <img
            src="https://cdn.prod.website-files.com/66b249c6e2cfdcc3c7dabfa1/66bf5f23222a498277a93add_Image%203-p-800.jpg"
            alt=""
            width="523px"
            sizes="(max-width:767px) 100vw , 523px"
          />
        </div>
        <div class="section4-1-text">
          <div class="section2-1-text-heading">
            <h1>Ivalua</h1>
          </div>
          <div class="section4-1-text-heading1">
            <h1>
              Procurement Solutions that are powered by a 100% paperless and
              Source-to-Pay process
            </h1>
          </div>
          <div class="section4-1-text-para">
            <p>
              Embrace the Leader in Source-To-pay Suites – Ivalua. Achieve 100%
              paperless procurement and account payable processes with
              tremendous amount of savings. We help customers with rapid
              deployment and flexible model to digitize procurement processes,
              manage their spend categories effectively, Improve transparency &
              Data quality and reduce
            </p>
          </div>
          <div class="section4-1-text-btn">
            <a href="#" class="w-button">Explore</a>
          </div>
        </div>
      </div>
    </section>
    <section class="section5">
      <div class="slideshow-container2">
        <!-- Full-width images with number and caption text -->
        <div class="mySlides2 fade2">
          <img
            src="https://cdn.prod.website-files.com/66b249c6e2cfdcc3c7dabfa1/66bf5bfe5b0de4adad9f7749_lance-anderson-ZHVy20iPb7E-unsplash.jpg"
            style="width: 100%; height: 500px"
          />
          <div class="text2">Salesforce // Durvah</div>
        </div>

        <div class="mySlides2 fade2">
          <img
            src="https://cdn.prod.website-files.com/66b249c6e2cfdcc3c7dabfa1/66bf5bfe5b0de4adad9f7749_lance-anderson-ZHVy20iPb7E-unsplash.jpg"
            style="width: 100%; height: 500px"
          />
          <div class="text2" style="font-size: 28px">
            Core SAP implementation and consultancy services that seamlessly
            impart end-to-end business value to existing processes.
          </div>
        </div>

        <!-- Next and previous buttons -->
        <a class="prev2" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next2" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <br />

      <!-- The dots/circles -->
      <div style="text-align: center; position: relative; bottom: 76px">
        <span class="dot2" onclick="currentSlide(1)"></span>
        <span class="dot2" onclick="currentSlide(2)"></span>
      </div>
    </section>
    <section class="section6">
      <div class="section6-1">
        <div class="section6-1-img">
          <img
            src="https://cdn.prod.website-files.com/66b249c6e2cfdcc3c7dabfa1/66bf5f23222a498277a93add_Image%203-p-800.jpg"
            alt=""
            width="523px"
            sizes="(max-width:767px) 100vw , 523px"
          />
        </div>
        <div class="section6-1-text">
          <div class="section6-1-text-heading">
            <h1>Salesforce</h1>
          </div>
          <div class="section6-1-text-heading1">
            <h1>
              Recalibrate Customer Engagement with Durvah Salesforce Consulting
            </h1>
          </div>
          <div class="section6-1-text-para">
            <p>
              Enrich the customer side of your business with the world’s no. 1
              CRM platform for ultimate reach and business engagements. Our
              services stand at the crossroad of high-quality finished work of
              technology, strategy with a customer-centric approach. Achieve
            </p>
          </div>
          <div class="section6-1-text-btn">
            <a href="#" class="w-button">Explore</a>
          </div>
        </div>
      </div>
    </section>
    <section class="section7">
      <div class="slideshow-container3">
        <!-- Full-width images with number and caption text -->
        <div class="mySlides3 fade3">
          <img
            src="https://cdn.prod.website-files.com/66b249c6e2cfdcc3c7dabfa1/66bd713e0858557e5c67e4e7_donny-jiang-42gFAgdIUC8-unsplash.jpg"
            style="width: 100%; height: 500px"
          />
          <div class="text3">Mobility // Durvah</div>
        </div>

        <div class="mySlides3 fade3">
          <img
            src="https://cdn.prod.website-files.com/66b249c6e2cfdcc3c7dabfa1/66bf5bfe5b0de4adad9f7749_lance-anderson-ZHVy20iPb7E-unsplash.jpg"
            style="width: 100%; height: 500px"
          />
          <div class="text3" style="font-size: 28px">
            Core SAP implementation and consultancy services that seamlessly
            impart end-to-end business value to existing processes.
          </div>
        </div>

        <!-- Next and previous buttons -->
        <a class="prev3" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next3" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <br />

      <!-- The dots/circles -->
      <div style="text-align: center; position: relative; bottom: 76px">
        <span class="dot3" onclick="currentSlide(1)"></span>
        <span class="dot3" onclick="currentSlide(2)"></span>
      </div>
    </section>
    <section class="section8">
      <div class="section8-1">
        <div class="section8-1-img">
          <img
            src="https://cdn.prod.website-files.com/66b249c6e2cfdcc3c7dabfa1/66bf5f23222a498277a93add_Image%203-p-800.jpg"
            alt=""
            width="523px"
            sizes="(max-width:767px) 100vw , 523px"
          />
        </div>
        <div class="section8-1-text">
          <div class="section8-1-text-heading">
            <h1>Mobility</h1>
          </div>
          <div class="section8-1-text-heading1">
            <h1>
              Stay connected with your business from anywhere on the globe.
            </h1>
          </div>
          <div class="section8-1-text-para">
            <p>
              Enter the world of high-performance mobile apps with versatile,
              highly reliable, and super satisfying mobile application
              development services by Durvah Consulting. We have a passion for
              helping businesses go mobile. It lets you increase the market
              reach for exponentially
            </p>
          </div>
          <div class="section8-1-text-btn">
            <a href="#" class="w-button">Explore</a>
          </div>
        </div>
      </div>
    </section>
    <section class="section9">
      <div class="slideshow-container4">
        <!-- Full-width images with number and caption text -->
        <div class="mySlides4 fade4">
          <img
            src="https://cdn.prod.website-files.com/66b249c6e2cfdcc3c7dabfa1/66bf6c91f367207194714f5b_Asset%202.png"
            style="width: 100%; height: 500px"
          />
          <div class="text4">Technologies // Durvah</div>
        </div>

        <div class="mySlides4 fade4">
          <img
            src="https://cdn.prod.website-files.com/66b249c6e2cfdcc3c7dabfa1/66bf5bfe5b0de4adad9f7749_lance-anderson-ZHVy20iPb7E-unsplash.jpg"
            style="width: 100%; height: 500px"
          />
          <div class="text4" style="font-size: 28px">
            Core SAP implementation and consultancy services that seamlessly
            impart end-to-end business value to existing processes.
          </div>
        </div>

        <!-- Next and previous buttons -->
        <a class="prev4" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next4" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <br />

      <!-- The dots/circles -->
      <div style="text-align: center; position: relative; bottom: 76px">
        <span class="dot4" onclick="currentSlide(1)"></span>
        <span class="dot4" onclick="currentSlide(2)"></span>
      </div>
    </section>
    <section class="section10">
      <div class="section10-1">
        <div class="section10-1-img">
          <img
            src="https://cdn.prod.website-files.com/66b249c6e2cfdcc3c7dabfa1/66bf5f23222a498277a93add_Image%203-p-800.jpg"
            alt=""
            width="523px"
            sizes="(max-width:767px) 100vw , 523px"
          />
        </div>
        <div class="section10-1-text">
          <div class="section10-1-text-heading">
            <h1>Technologies</h1>
          </div>
          <div class="section10-1-text-heading1">
            <h1>Embark on a vivid journey of digital transformation.</h1>
          </div>
          <div class="section10-1-text-para">
            <p>
              Ensure a better tomorrow of your business with the world-class
              IT-enablement services by Durvah Consulting. The Innovation
              centric company, Durvah is envisioned to bridge the gap between
              information technology and everyday use cases of commerce. We
            </p>
          </div>
          <div class="section10-1-text-btn">
            <a href="#" class="w-button">Explore</a>
          </div>
        </div>
      </div>
    </section>
    <section class="section11">
      <div class="slideshow-container5">
        <!-- Full-width images with number and caption text -->
        <div class="mySlides5 fade5">
          <img
            src="https://cdn.prod.website-files.com/66b249c6e2cfdcc3c7dabfa1/66bf665bb5385c7131fa6a76_Asset%201.png"
            style="width: 100%; height: 500px"
          />
          <div class="text5">AMS // Durvah</div>
        </div>

        <div class="mySlides5 fade5">
          <img
            src="https://cdn.prod.website-files.com/66b249c6e2cfdcc3c7dabfa1/66bf5bfe5b0de4adad9f7749_lance-anderson-ZHVy20iPb7E-unsplash.jpg"
            style="width: 100%; height: 500px"
          />
          <div class="text5" style="font-size: 28px">
            Core SAP implementation and consultancy services that seamlessly
            impart end-to-end business value to existing processes.
          </div>
        </div>

        <!-- Next and previous buttons -->
        <a class="prev5" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next5" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <br />

      <!-- The dots/circles -->
      <div style="text-align: center; position: relative; bottom: 76px">
        <span class="dot5" onclick="currentSlide(1)"></span>
        <span class="dot5" onclick="currentSlide(2)"></span>
      </div>
    </section>
    <section class="section12">
      <div class="section12-1">
        <div class="section12-1-img">
          <img
            src="https://cdn.prod.website-files.com/66b249c6e2cfdcc3c7dabfa1/66bf5f23222a498277a93add_Image%203-p-800.jpg"
            alt=""
            width="523px"
            sizes="(max-width:767px) 100vw , 523px"
          />
        </div>
        <div class="section12-1-text">
          <div class="section12-1-text-heading">
            <h1>AMS</h1>
          </div>
          <div class="section12-1-text-heading1">
            <h1>
              A unique framework that ensures optimal uninterrupted services in
              your IT landscape.
            </h1>
          </div>
          <div class="section12-1-text-para">
            <p>
              Enter the world of high-performance mobile apps with versatile,
              highly reliable, and super satisfying mobile application
              development services by Durvah Consulting. We have a passion for
              helping businesses go mobile. It lets you increase the market
              reach for exponentially magnifying the ROI. Durvah mobile
              application development service is a one-stop solution to enrich
              the business presence through smartphones among the digital
              population.
            </p>
          </div>
          <div class="section12-1-text-btn">
            <a href="#" class="w-button">Explore</a>
          </div>
        </div>
      </div>
    </section>
    <section class="section13">
      <div class="slideshow-container6">
        <!-- Full-width images with number and caption text -->
        <div class="mySlides6 fade6">
          <img
            src="https://cdn.prod.website-files.com/66b249c6e2cfdcc3c7dabfa1/66ba48e045cbd42f2e690c06_fabio-oyXis2kALVg-unsplash.jpg"
            style="width: 100%; height: 500px"
          />
          <div class="text6">QAD // Durvah</div>
        </div>

        <div class="mySlides6 fade6">
          <img
            src="https://cdn.prod.website-files.com/66b249c6e2cfdcc3c7dabfa1/66bf5bfe5b0de4adad9f7749_lance-anderson-ZHVy20iPb7E-unsplash.jpg"
            style="width: 100%; height: 500px"
          />
          <div class="text6" style="font-size: 28px">
            Core SAP implementation and consultancy services that seamlessly
            impart end-to-end business value to existing processes.
          </div>
        </div>

        <!-- Next and previous buttons -->
        <a class="prev6" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next6" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <br />

      <!-- The dots/circles -->
      <div style="text-align: center; position: relative; bottom: 76px">
        <span class="dot6" onclick="currentSlide(1)"></span>
        <span class="dot6" onclick="currentSlide(2)"></span>
      </div>
    </section>
    <section class="section14">
      <div class="section14-1">
        <div class="section14-1-img">
          <img
            src="https://cdn.prod.website-files.com/66b249c6e2cfdcc3c7dabfa1/66bf5f23222a498277a93add_Image%203-p-800.jpg"
            alt=""
            width="523px"
            sizes="(max-width:767px) 100vw , 523px"
          />
        </div>
        <div class="section14-1-text">
          <div class="section14-1-text-heading">
            <h1>QAD</h1>
          </div>
          <div class="section14-1-text-heading1">
            <h1>Embark on a vivid journey of digital transformation.</h1>
          </div>
          <div class="section14-1-text-para">
            <p>
              Harness the power of QAD and unlock the potential of your
              manufacturing business. As a Service Partner of QAD, Durvah
              Consulting is delighted to extend its scope of expertise with one
              of the most mature and oldest products for ERP within
              manufacturing business space. Bring in the highly efficient and
              easy to use quality platform services. Catalyze synthesis of an
              immaculate end-to-end ERP solution with customizable capabilities.
            </p>
          </div>
          <div class="section14-1-text-btn">
            <a href="#" class="w-button">Explore</a>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="footer-container">
        <div class="footer-top">
          <div class="footer-logo">
            <img
              src="https://cdn.prod.website-files.com/66b249c6e2cfdcc3c7dabfa1/66db2742aaed29334845612b_Durvah%20Logo.png"
              alt=""
              width="44"
            />
          </div>
          <div class="footer-container1">
            <div class="footer-title">
              <a
                href="#"
                style="
                  color: #389ea3;
                  font-size: 18px;
                  font-weight: 500;
                  line-height: 32px;
                "
                >Durvah</a
              >
              <a href="#">Services</a>
              <a href="#">Products</a>
              <a href="#">Leadership</a>
            </div>
          </div>
          <div class="footer-container2">
            <div class="footer-title">
              <a
                href="#"
                style="
                  color: #389ea3;
                  font-size: 18px;
                  font-weight: 500;
                  line-height: 32px;
                "
                >Partners</a
              >
              <a href="#">Sap</a>
              <a href="#">Ivalua</a>
            </div>
          </div>
          <div class="footer-search">
            <div class="footer-title">
              <a
                href="#"
                style="
                  color: #389ea3;
                  font-size: 18px;
                  font-weight: 500;
                  line-height: 32px;
                "
                >Contact</a
              >
              <div class="footer-form-block">
                <input
                  type="email"
                  placeholder="Email"
                  class="footer-form-field"
                  maxlength="256"
                />
                <input
                  type="submit"
                  data-wait="Please wait..."
                  class="footer-form-submit w-button"
                  value=""
                />
              </div>
            </div>
          </div>
        </div>
        <div class="footer-divider"></div>
        <div class="footer-bottom">
          <div class="footer-copyright">
            © 2024 Durvah IT Consultancy Pvt. Ltd. All rights reserved
          </div>
          <div class="footer-social">
            <div class="footer-social-block">
              <a
                href="https://www.linkedin.com/company/durvahitconsulting/"
                class="footer-social-link w-inline-block"
                ><img
                  src="https://cdn.prod.website-files.com/62434fa732124a0fb112aab4/62434fa732124ac76f12aaec_product%20icon-2.svg"
                  loading="lazy"
                  alt="" /></a
              ><a
                href="https://www.facebook.com/profile.php?id=100089638680209"
                class="footer-social-link w-inline-block"
                ><img
                  src="https://cdn.prod.website-files.com/62434fa732124a0fb112aab4/62434fa732124a4a9512aae0_product%20icon-1.svg"
                  loading="lazy"
                  alt="" /></a
              ><a
                href="https://x.com/i/flow/login?redirect_after_login=%2FITDurvah"
                class="footer-social-link w-inline-block"
                ><img
                  src="https://cdn.prod.website-files.com/62434fa732124a0fb112aab4/62434fa732124a853712aad7_product%20icon.svg"
                  loading="lazy"
                  alt=""
              /></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../public/js/service1.js"></script>
    <script src="../public/js/service2.js"></script>
    <script src="../public/js/service3.js"></script>
    <script src="../public/js/service4.js"></script>
    <script src="../public/js/service5.js"></script>
    <script src="../public/js/service6.js"></script>
    <script src="../public/js/service7.js"></script>
    <script>
      window.addEventListener("load", () => {
        const loader = document.querySelector(".loader");

        loader.classList.add("loader--hidden");

        loader.addEventListener("transitionend", () => {
          document.body.removeChild(loader);
        });
      });
    </script>
  </body>
</html>
