<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Durvah | Service</title>
    <link
    rel="icon"
    href="https://cdn.prod.website-files.com/66b249c6e2cfdcc3c7dabfa1/66db2742aaed29334845612b_Durvah%20Logo.png"
  />
   
    <!-- Boxicons link CSS -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
   
    <!--Swiper js css link-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="../public/css/service.css" />
  </head>
  <body>
    <div class="loader"></div>
    <header class="header">
      <a href="/" class="logo">
        <img
          src="https://cdn.prod.website-files.com/66b249c6e2cfdcc3c7dabfa1/66db2742aaed29334845612b_Durvah%20Logo.png"
          alt=""
          width="90"
          height="90"
        />
      </a>
      <input type="checkbox" id="check" />
      <label for="check" class="icons">
        <i class="bx bx-menu" id="menu-icon"></i>
        <i class="bx bx-x" id="close-icon"></i>
      </label>
      <nav class="navbar">
        <a href="/">Durvah</a>
        <a href="/service">Services</a>
        <a href="/product">Products</a>
        <a href="#">Leadership</a>
        <a href="/contact">Contact</a>
      </nav>
    </header>
    <!-- <section class="section1">
      <div class="section1-container">
        <h1>Video Container</h1>
        <div class="section1-video-container">
          <div class="section1-video">
            <video src="assets/video1.mp4" muted></video>
          </div>
          <div class="section1-popup-video">
            <span>&times;</span>
            <video src="assets/video1.mp4" muted autoplay controls></video>
          </div>
        </div>
      </div>
    </section>
    <div class="section1-text">
      <div class="section1-heading1">
        <h1>IT Services</h1>
      </div>
      <div class="section1-heading2">
        <h1>Durvah Services</h1>
      </div>
      <div class="section1-para">
        <p>
          Durvah Services experts can help you from planning to operating and
          beyond, so you can accelerate edge to cloud transformation, optimize
          operations, and maximize IT investments.
        </p>
      </div>
    </div> -->
    <section class="section1">
      <div class="section1-container">
        <div class="section1-content">
          <!-- Video Container -->
          <div class="section1-video-container">
            <div class="section1-video">
              <video src="assets/video1.mp4" muted></video>
            </div>
            <div class="section1-popup-video">
              <span>&times;</span>
              <video src="assets/video1.mp4" muted autoplay controls></video>
            </div>
          </div>

          <!-- Text Container -->
          <div class="section1-text">
            <div class="section1-heading1">
              <h1 style="font-size: 24px; color: #6f6f6f">IT Services</h1>
            </div>
            <div
              class="section1-heading2"
              style="
                background-image: linear-gradient(
                  270deg,
                  #00e8cf 0%,
                  #904dff 50%,
                  #f740ff 100%
                );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                color: transparent;
              "
            >
              <h1 style="font-weight: 600; font-size: 60px">Durvah Services</h1>
            </div>
            <div class="section1-para">
              <p style="font-size: 18px; color: #6f6f6f">
                Durvah Services experts can help you from planning to operating
                and beyond, so you can accelerate edge to cloud transformation,
                optimize operations, and maximize IT investments.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section2">
      <div class="section2-card-container">
        <h1 class="section2-card-heading">Benifits of Durvah</h1>

        <div class="section2-box-container">
          <div class="section2-box">
            <h3>Accelerate business outcomes</h3>
            <p>
              Define, build, and execute a clear path to innovation by aligning
              capabilities and digital aspirations to your business objectives.
            </p>
          </div>

          <div class="section2-box">
            <h3>Modernize and optimize your IT environment</h3>
            <p>
              Transform your IT estate from edge to cloud and effectively manage
              your ongoing operations.
            </p>
          </div>

          <div class="section2-box">
            <h3>Create smarter IT asset lifecycles</h3>
            <p>
              Address the challenges and opportunities presented by the rapidly
              evolving technology landscape, all while keeping a focus on
              economic agility, innovation, and sustainability with HPE
              Financial Services.
            </p>
          </div>

          <div class="section2-box">
            <h3>Build the right skills. Not just any skills.</h3>
            <p>
              Boost your business, sharpen your IT, and gain the power skills to
              accelerate your career with personalized, hands-on learning
              options.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- <section class="section3-customers">
      <div class="slideshow-container">
        <div class="slideshow-heading">
          <h1>Our Customers</h1>
        </div>
       
        <div class="mySlides fade">
          <div class="numbertext">1 / 4</div>
          <img src="assets/animation1.jpeg" style="width: 100%" />
          <div class="text">Caption Text</div>
        </div>

        <div class="mySlides fade">
          <div class="numbertext">2 / 4</div>
          <img src="assets/animation1.jpeg" style="width: 100%" />
          <div class="text">Caption Two</div>
        </div>

        <div class="mySlides fade">
          <div class="numbertext">3 / 4</div>
          <img src="assets/animation1.jpeg" style="width: 100%" />
          <div class="text">Caption Three</div>
        </div>
        <div class="mySlides fade">
          <div class="numbertext">4 / 4</div>
          <img src="assets/animation1.jpeg" style="width: 100%" />
          <div class="text">Caption Four</div>
        </div>

       
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <br />

     
      <div style="text-align: center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
      </div>
    </section> -->

    <section class="section3-customers">
      <div class="slideshow-container">
        <div class="slideshow-heading">
          <h1>Our Customers</h1>
        </div>

        <!-- Full-width images with card content -->
        <div class="mySlides fade">
          <div class="card-content">
            <h2
              style="
                margin-top: -0.18em;
                font-size: 24px;
                font-weight: 500;
                line-height: 1em;
              "
            >
              Gaining the edge in eSports
            </h2>
            <p
              style="
                margin-bottom: -0.29111111em;
                margin-top: calc(10px - 0.29111em);
                color: #6f6f6f;
                font-size: 18px;
                font-weight: 400;
                line-height: 1.22222222em;
              "
            >
              Evil Geniuses aims to disrupt eSports. To disrupt and grow, they
              looked to HPE Services. Working together
            </p>
            <button class="btn" style="margin-top: 20px">Learn More</button>
          </div>
          <img src="assets/simulator-6380726_1280.jpg" style="width: 100%" />
        </div>

        <div class="mySlides fade">
          <div class="card-content">
            <h2
              style="
                margin-top: -0.18em;
                font-size: 24px;
                font-weight: 500;
                line-height: 1em;
              "
            >
              Country of Essex
            </h2>
            <p
              style="
                margin-bottom: -0.29111111em;
                margin-top: calc(10px - 0.29111em);
                color: #6f6f6f;
                font-size: 18px;
                font-weight: 400;
                line-height: 1.22222222em;
              "
            >
              The County of Essex, New Jersey, is building a private cloud to
              transform, secure, and speed services to cities, departments, and
              citizens.
            </p>
            <button class="btn" style="margin-top: 20px">Learn More</button>
          </div>
          <img src="assets/clock-756487_1280.jpg" style="width: 100%" />
        </div>

        <div class="mySlides fade">
          <div class="card-content">
            <h2
              style="
                margin-top: -0.18em;
                font-size: 24px;
                font-weight: 500;
                line-height: 1em;
              "
            >
              Universidad Ana G. Mendez
            </h2>
            <p
              style="
                margin-bottom: -0.29111111em;
                margin-top: calc(10px - 0.29111em);
                color: #6f6f6f;
                font-size: 18px;
                font-weight: 400;
                line-height: 1.22222222em;
              "
            >
              Preparing new grads for the future of business.
            </p>
            <button class="btn" style="margin-top: 20px">Learn More</button>
          </div>
          <img src="assets/people-1979261_1280.jpg" style="width: 100%" />
        </div>

        <!-- <div class="mySlides fade">
          <div class="card-content">
            <h2>Card Title 4</h2>
            <p>Here is some description text for the fourth card.</p>
            <button class="btn">Learn More</button>
          </div>
          <img src="assets/animation1.jpeg" style="width: 100%" />
        </div> -->

        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <br />

      <!-- The dots/circles -->
      <div style="text-align: center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <!-- <span class="dot" onclick="currentSlide(4)"></span> -->
      </div>
    </section>
    <section class="section4">
      <div class="section4-container">
        <h2 class="heading">Featured services</h2>

        <div class="box-container">
          <div class="box">
            <h3>HPE Transformation Service</h3>
            <p>Build a more effective hybrid cloud operating model</p>
            <a href="#" class="btn">read more</a>
          </div>

          <div class="box">
            <h3>HPE Data Services</h3>
            <p>Transform your data for better business outcomes.</p>
            <a href="#" class="btn">read more</a>
          </div>

          <div class="box">
            <h3>HPE Application Mordernization Services</h3>

            <p>
              Migrate and modernize your applications confidently on your
              transformation journey to hybrid cloud.
            </p>

            <a href="#" class="btn">read more</a>
          </div>

          <div class="box">
            <h3>HPE AI Services</h3>
            <p>
              Plan, implement, and deploy your AI solutions to boost business
              outcomes.
            </p>
            <a href="#" class="btn">read more</a>
          </div>

          <div class="box">
            <h3>HPE Managed Security</h3>
            <p>
              Enterprise security and adaptive digital protection fortify data
              confidentiality, integrity, and availability from edge to cloud.
            </p>
            <a href="#" class="btn">read more</a>
          </div>

          <div class="box">
            <h3>HPE Managed It Compllance</h3>
            <p>
              Adopt a Zero Trust framework. Identify and remediate security gaps
              with integrated security design and constant monitoring.
            </p>
            <a href="#" class="btn">read more</a>
          </div>
        </div>
      </div>
    </section>
    <section class="section5">
      <div class="section5-container">
        <div class="heading">
          <h1 style="font-size: 36px">Explore Durvah Services</h1>
        </div>
        <div class="para">
          <p style="margin-bottom: 10px">
            Edge to cloud expertise that transforms IT priorities into outcomes.
          </p>
        </div>

        <div class="box-container">
          <div class="box">
            <h3>Operational Support Services</h3>
            <p>
              Global IT services that can remove complexity, mitigate risk, and
              help you respond rapidly to business demands.
            </p>
            <a href="#" class="btn">Explore more</a>
          </div>

          <div class="box">
            <h3>HPE Lifecycle Services</h3>
            <p>
              Consulting and lifecycle event services to help you get the most
              from your IT at every stage.
            </p>
            <a href="#" class="btn">Explore more</a>
          </div>

          <div class="box">
            <h3>Consulting Services</h3>

            <p>
              Expert advice and implementation to take your digital
              transformation to the next level.
            </p>

            <a href="#" class="btn">Explore more</a>
          </div>

          <div class="box">
            <h3>Asset Management and IT financing solutions</h3>
            <p>
              IT & technology financing solutions to help fast-forward your
              business transformation more sustainably.
            </p>
            <a href="#" class="btn">Explore more</a>
          </div>

          <div class="box">
            <h3>IT training and certification preparation</h3>
            <p>
              Flexible learning options to hone your skills, drive your career,
              and boost your business.
            </p>
            <a href="#" class="btn">Explore more</a>
          </div>

          <div class="box">
            <h3>HPE Managed Services</h3>
            <p>
              Monitor, operate, and optimize your infrastructure and
              applications. Delivered globally and consistently for unified
              control.
            </p>
            <a href="#" class="btn">Explore more</a>
          </div>
        </div>
      </div>
    </section>
    
    <section class="section6">
      
        <h1>Services across edge to cloud</h1>
        <div class="section6-container">
          <div class="section6-card">
            <div class="section6-card-content">
              <h3>Connect your edge</h3>
              <p>
                Security connect, analyze, and act on data across apps, users,
                devices and locations – everywhere.
              </p>
              <a href="#" class="btn">Read More</a>
            </div>
          </div>
  
          <div class="section6-card">
            <div class="section6-card-content">
              <h3>Turn your data into Intelligence</h3>
              <p>
                Simplify data management, unlock data’s value, and uncover hidden
                insights in your data, edge to cloud.
              </p>
              <a href="#" class="btn">Read More</a>
            </div>
          </div>
  
          <div class="section6-card">
            <div class="section6-card-content">
              <h3>Create your hybrid cloud</h3>
              <p>
                <p>Hybrid cloud, just the way you need it.</p>
              </p>
              <a href="#" class="btn">Read More</a>
            </div>
          </div>
  
          <div class="section6-card">
            <div class="section6-card-content">
              <h3>Unlock AI</h3>
              <p>Simplify AI complexity, accelerate productivity, and get pilots to production faster.</p>
              <a href="#" class="btn">Read More</a>
            </div>
          </div>
      </div>
      </section>
      <section class="section7">
        <div class="container swiper">
            <div class="card-wrapper">
              <!-- Card slides container -->
              <ul class="card-list swiper-wrapper">
                <li class="card-item swiper-slide">
                  <a href="#" class="card-link">
                    <img src="https://www.hpe.com/content/dam/hpe/shared-publishing/images-norend/1xx/1006021-16-9.jpg.hpetransform/bounded-resize:width=2000/image.webp" alt="Card Image" class="card-image">
                    <p class="badge badge-designer">Designer</p>
                    <h2 class="card-title">Lorem ipsum dolor sit explicabo adipisicing elit</h2>
                    <button class="card-button material-symbols-rounded">arrow_forward</button>
                  </a>
                </li>
                <li class="card-item swiper-slide">
                  <a href="#" class="card-link">
                    <img src="assets/animation2.jpg" alt="Card Image" class="card-image">
                    <p class="badge badge-developer">Developer</p>
                    <h2 class="card-title">Lorem ipsum dolor sit explicabo adipisicing elit</h2>
                    <button class="card-button material-symbols-rounded">arrow_forward</button>
                  </a>
                </li>
                <li class="card-item swiper-slide">
                  <a href="#" class="card-link">
                    <img src="assets/animation3.jpg" alt="Card Image" class="card-image">
                    <p class="badge badge-marketer">Marketer</p>
                    <h2 class="card-title">Lorem ipsum dolor sit explicabo adipisicing elit</h2>
                    <button class="card-button material-symbols-rounded">arrow_forward</button>
                  </a>
                </li>
                <li class="card-item swiper-slide">
                  <a href="#" class="card-link">
                    <img src="assets/animation1.jpeg" alt="Card Image" class="card-image">
                    <p class="badge badge-gamer">Gamer</p>
                    <h2 class="card-title">Lorem ipsum dolor sit explicabo adipisicing elit</h2>
                    <button class="card-button material-symbols-rounded">arrow_forward</button>
                  </a>
                </li>
                <li class="card-item swiper-slide">
                  <a href="#" class="card-link">
                    <img src="assets/animation2.jpg" alt="Card Image" class="card-image">
                    <p class="badge badge-editor">Editor</p>
                    <h2 class="card-title">Lorem ipsum dolor sit explicabo adipisicing elit</h2>
                    <button class="card-button material-symbols-rounded">arrow_forward</button>
                  </a>
                </li>
              </ul>
               <!-- Pagination -->
              <div class="swiper-pagination"></div>
              <!-- Navigation Buttons -->
              <div class="swiper-slide-button swiper-button-prev"></div>
              <div class="swiper-slide-button swiper-button-next"></div>
            </div>
          </div>
      </section>
      <footer>
        <div class="footer-container">
          <div class="footer-top">
            <div class="footer-logo">
              <img
                src="https://cdn.prod.website-files.com/66b249c6e2cfdcc3c7dabfa1/66db2742aaed29334845612b_Durvah%20Logo.png"
                alt=""
                width="44"
              />
            </div>
            <div class="footer-container1">
              <div class="footer-title">
                <a
                  href="#"
                  style="
                    color: #389ea3;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 32px;
                  "
                  >Durvah</a
                >
                <a href="#">Services</a>
                <a href="#">Products</a>
                <a href="#">Leadership</a>
              </div>
            </div>
            <div class="footer-container2">
              <div class="footer-title">
                <a
                  href="#"
                  style="
                    color: #389ea3;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 32px;
                  "
                  >Partners</a
                >
                <a href="#">Sap</a>
                <a href="#">Ivalua</a>
              </div>
            </div>
            <div class="footer-search">
              <div class="footer-title">
                <a
                  href="#"
                  style="
                    color: #389ea3;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 32px;
                  "
                  >Contact</a
                >
                <div class="footer-form-block">
                  <input
                    type="email"
                    placeholder="Email"
                    class="footer-form-field"
                    maxlength="256"
                  />
                  <input
                    type="submit"
                    data-wait="Please wait..."
                    class="footer-form-submit w-button"
                    value=""
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="footer-divider"></div>
          <div class="footer-bottom">
            <div class="footer-copyright">
              © 2024 Durvah IT Consultancy Pvt. Ltd. All rights reserved
            </div>
            <div class="footer-social">
              <div class="footer-social-block">
                <a
                  href="https://www.linkedin.com/company/durvahitconsulting/"
                  class="footer-social-link w-inline-block"
                  ><img
                    src="https://cdn.prod.website-files.com/62434fa732124a0fb112aab4/62434fa732124ac76f12aaec_product%20icon-2.svg"
                    loading="lazy"
                    alt="" /></a
                ><a
                  href="https://www.facebook.com/profile.php?id=100089638680209"
                  class="footer-social-link w-inline-block"
                  ><img
                    src="https://cdn.prod.website-files.com/62434fa732124a0fb112aab4/62434fa732124a4a9512aae0_product%20icon-1.svg"
                    loading="lazy"
                    alt="" /></a
                ><a
                  href="https://x.com/i/flow/login?redirect_after_login=%2FITDurvah"
                  class="footer-social-link w-inline-block"
                  ><img
                    src="https://cdn.prod.website-files.com/62434fa732124a0fb112aab4/62434fa732124a853712aad7_product%20icon.svg"
                    loading="lazy"
                    alt=""
                /></a>
              </div>
            </div>
          </div>
        </div>
      </footer>
  
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        new Swiper('.card-wrapper', {
    loop: true,
    spaceBetween: 30,
    // Pagination bullets
    pagination: {
        el: '.swiper-pagination',
        clickable: true,
        dynamicBullets: true
    },
    // Navigation arrows
    navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
    },
    // Responsive breakpoints
    breakpoints: {
        0: {
            slidesPerView: 1
        },
        768: {
            slidesPerView: 2
        },
        1024: {
            slidesPerView: 2
        }
    }
});
    </script>
      <script>
        window.addEventListener("load", () => {
          const loader = document.querySelector(".loader");
  
          loader.classList.add("loader--hidden");
  
          loader.addEventListener("transitionend", () => {
            document.body.removeChild(loader);
          });
        });
      </script>
     <script src="../public/js/service.js"></script>
  </body>
</html>
